/* main */
body {
  margin: 0;
  padding: 0;
  background-color: rgb(211, 218, 218);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.resizable {
    background-color: rgb(255, 255, 255);
    resize: both;
    overflow: auto;
    border: 1px solid black;
    border-radius: 8px;
    width: 500px;
    height: 500px;
    box-shadow: 5px 5px 10px 5px rgb(0, 0, 0);
}

/* links */
a {
  color: black;
  text-decoration: none;
}

/* hover */
.circle:hover,
.tablinks img:hover,
#s_searchbar img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.open:hover {
  background-color: rgb(241, 237, 237);
  cursor: pointer;
}

.b_favourite:hover {
    background-color: rgb(210, 204, 204);
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}

/* tab menu */
#tabmenu {
  background-color: rgb(210, 204, 204);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 48px;
  gap: 40px;
  padding: 0 12px 0 12px;
}

/* tab menu - buttons */
#buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.circle {
  border-style: none;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  cursor: pointer;
}

#b_red {
  background-color: rgb(255, 0, 0);
}

#b_yellow {
  background-color: rgb(255, 255, 0);
}

#b_green {
  background-color: rgb(0, 205, 0);
}

/* tab menu - tabs */
#tab {
  display: flex;
  justify-content: flex-start;
  align-self: flex-end;
}

.tablinks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.tablinks img {
  width: 12px;
  height: 12px;
}

.open {
  background-color: white;
  border-style: none;
  border-radius: 8px 8px 0 0;
  width: 200px;
  height: 36px;
}

.hidden {
  background-color: inherit;
  border-style: none;
  height: 36px;
}

/* searchbar */
#searchbar {
  display: flex;
  flex-direction: column;
  padding: 0 12px 12px 12px;
  box-shadow: 1px 1px 1px rgb(212, 212, 212);
}

/* searchbar s_searchbar */
#s_searchbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 48px;
  gap: 12px;
}

#s_searchbar button {
  background-color: inherit;
  border-style: none;
}

#s_searchbar img {
  height: 20px;
  width: 20px;
}

.mirror {
  transform: scaleX(-1);
}

#t_search {
  flex-grow: 1;
  border: none;
  background-color: rgb(210, 204, 204);
  border-radius: 24px;
  height: 24px;
  padding: 0 12px 0 12px;
}

/* searchbar - favourite */
#s_favourite {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 24px;
  gap: 12px;
}

.b_favourite {
  background-color: inherit;
  border-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.b_favourite img {
  height: 20px;
  width: 20px;
  padding-right: 10px;
}
